In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [2]:
dfCount = pd.read_csv('count_by_state.csv')
dfSurvey = pd.read_csv('state-survey-responses-fa21.csv')

In [7]:
dfCount = dfCount.rename(columns={'province': 'state_short'})
dfCount

   state_short  count
0           AK     16
1           AL      6
2           AR    102
3           AZ    330
4           CA   1201
5           CO    148
6           CT     53
7           DE     44
8           FL    621
9           GA    420
10          HI     32
11          IA    115
12          ID     51
13          IL    405
14          IN    254
15          KS     74
16          KY    166
17          LA    202
18          MA    205
19          MD    172
20          ME     25
21          MI    374
22          MN    199
23          MO    163
24          MS     55
25          MT     38
26          NC    295
27          ND     35
28          NE     87
29          NH     34
30          NJ    129
31          NM     78
32          NV    121
33          NY    352
34          OH    522
35          OK    166
36          OR    154
37          PA    383
38          RI     15
39          SC    188
40          SD     42
41          TN    302
42          TX    811
43          UT     63
44          VA    253
45          VT     15
46          WA    196
47          WI    189
48          WV     70
49          WY     29

In [4]:
dfSurvey

              state_name  total  state_code state_short
0                Alabama      5           1          AL
1                 Alaska     15           2          AK
2                Arizona     28           4          AZ
3               Arkansas      3           5          AR
4             California    102           6          CA
5               Colorado     29           8          CO
6            Connecticut     54           9          CT
7               Delaware     29          10          DE
8   District of Columbia     65          11          DC
9                Florida     88          12          FL
10               Georgia     26          13          GA
11                Hawaii     27          15          HI
12                 Idaho      9          16          ID
13              Illinois     42          17          IL
14               Indiana     20          18          IN
15                  Iowa      6          19          IA
16                Kansas      6          20          KS
17              Kentucky     11          21          KY
18             Louisiana     10          22          LA
19                 Maine     34          23          ME
20              Maryland     54          24          MD
21         Massachusetts     87          25          MA
22              Michigan     34          26          MI
23             Minnesota     20          27          MN
24           Mississippi      2          28          MS
25              Missouri     14          29          MO
26               Montana     10          30          MT
27              Nebraska      8          31          NE
28                Nevada     33          32          NV
29         New Hampshire     36          33          NH
30            New Jersey     86          34          NJ
31            New Mexico     14          35          NM
32              New York    138          36          NY
33        North Carolina     31          37          NC
34          North Dakota      2          38          ND
35                  Ohio     32          39          OH
36              Oklahoma      5          40          OK
37                Oregon     18          41          OR
38          Pennsylvania     91          42          PA
39           Puerto Rico      7          72          PR
40          Rhode Island     40          44          RI
41        South Carolina     22          45          SC
42          South Dakota      5          46          SD
43             Tennessee     17          47          TN
44                 Texas     30          48          TX
45                  Utah     24          49          UT
46               Vermont     32          50          VT
47              Virginia     43          51          VA
48            Washington     43          53          WA
49         West Virginia     16          54          WV
50             Wisconsin     17          55          WI
51               Wyoming     12          56          WY

In [14]:
dfTotal = dfCount.join(dfSurvey.set_index('state_short'), on='state_short')
dfTotal

   state_short  count      state_name  total  state_code
0           AK     16          Alaska     15           2
1           AL      6         Alabama      5           1
2           AR    102        Arkansas      3           5
3           AZ    330         Arizona     28           4
4           CA   1201      California    102           6
5           CO    148        Colorado     29           8
6           CT     53     Connecticut     54           9
7           DE     44        Delaware     29          10
8           FL    621         Florida     88          12
9           GA    420         Georgia     26          13
10          HI     32          Hawaii     27          15
11          IA    115            Iowa      6          19
12          ID     51           Idaho      9          16
13          IL    405        Illinois     42          17
14          IN    254         Indiana     20          18
15          KS     74          Kansas      6          20
16          KY    166        Kentucky     11          21
17          LA    202       Louisiana     10          22
18          MA    205   Massachusetts     87          25
19          MD    172        Maryland     54          24
20          ME     25           Maine     34          23
21          MI    374        Michigan     34          26
22          MN    199       Minnesota     20          27
23          MO    163        Missouri     14          29
24          MS     55     Mississippi      2          28
25          MT     38         Montana     10          30
26          NC    295  North Carolina     31          37
27          ND     35    North Dakota      2          38
28          NE     87        Nebraska      8          31
29          NH     34   New Hampshire     36          33
30          NJ    129      New Jersey     86          34
31          NM     78      New Mexico     14          35
32          NV    121          Nevada     33          32
33          NY    352        New York    138          36
34          OH    522            Ohio     32          39
35          OK    166        Oklahoma      5          40
36          OR    154          Oregon     18          41
37          PA    383    Pennsylvania     91          42
38          RI     15    Rhode Island     40          44
39          SC    188  South Carolina     22          45
40          SD     42    South Dakota      5          46
41          TN    302       Tennessee     17          47
42          TX    811           Texas     30          48
43          UT     63            Utah     24          49
44          VA    253        Virginia     43          51
45          VT     15         Vermont     32          50
46          WA    196      Washington     43          53
47          WI    189       Wisconsin     17          55
48          WV     70   West Virginia     16          54
49          WY     29         Wyoming     12          56

In [15]:
dfTotal = dfTotal[['state_short', 'state_name', 'state_code', 'count']]
dfTotal

   state_short      state_name  state_code  count
0           AK          Alaska           2     16
1           AL         Alabama           1      6
2           AR        Arkansas           5    102
3           AZ         Arizona           4    330
4           CA      California           6   1201
5           CO        Colorado           8    148
6           CT     Connecticut           9     53
7           DE        Delaware          10     44
8           FL         Florida          12    621
9           GA         Georgia          13    420
10          HI          Hawaii          15     32
11          IA            Iowa          19    115
12          ID           Idaho          16     51
13          IL        Illinois          17    405
14          IN         Indiana          18    254
15          KS          Kansas          20     74
16          KY        Kentucky          21    166
17          LA       Louisiana          22    202
18          MA   Massachusetts          25    205
19          MD        Maryland          24    172
20          ME           Maine          23     25
21          MI        Michigan          26    374
22          MN       Minnesota          27    199
23          MO        Missouri          29    163
24          MS     Mississippi          28     55
25          MT         Montana          30     38
26          NC  North Carolina          37    295
27          ND    North Dakota          38     35
28          NE        Nebraska          31     87
29          NH   New Hampshire          33     34
30          NJ      New Jersey          34    129
31          NM      New Mexico          35     78
32          NV          Nevada          32    121
33          NY        New York          36    352
34          OH            Ohio          39    522
35          OK        Oklahoma          40    166
36          OR          Oregon          41    154
37          PA    Pennsylvania          42    383
38          RI    Rhode Island          44     15
39          SC  South Carolina          45    188
40          SD    South Dakota          46     42
41          TN       Tennessee          47    302
42          TX           Texas          48    811
43          UT            Utah          49     63
44          VA        Virginia          51    253
45          VT         Vermont          50     15
46          WA      Washington          53    196
47          WI       Wisconsin          55    189
48          WV   West Virginia          54     70
49          WY         Wyoming          56     29

In [17]:
dfTotal.to_csv('count_with_code.csv', index=False)